.ui-widget, .ui-widget .ui-widget {
    font-size: 85% !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #b0c4de;
    font-family: arial;
}

.column {   
    padding: 15px;
    width: 800px;
}

.column_left {
    float: left;
    min-width: 200px;
}

.column_right {
    max-width: 500px; 
    float:left;
}

#container, #header, #menu, #center, #footer {
    width: 1200px;
}

#header {
    text-align:center;
}

#left {
    float: left;
    padding: 15px;
    position:relative;
}

#right {
    width:80%;
    float:left;
    position: relative;
    padding:3px;
}

/*
#menu {
    text-align:center;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float:left;
    padding: 20px;
}
*/
#center {
    clear:both;
}

#container {
    background-color: #fff;
    margin:auto;
}

#footer {
    text-align: center;
}
