.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #003468;
    font-family: arial;
}

.column {   
    padding: 15px;
    width: 1100px;
}

.column_left {
    float: left;
    min-width: 200px;
}

.column_right {
    max-width: 500px; 
    float:left;
}

#container, #header, #menu, #center, #footer {
    width: 1200px;
}

#header {
    height: 154px;
    background-image: url("../resources/images/Logo_648rgb.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
}

#header h1 {
    text-indent: -9999px;
}

#left {
    float: left;
    padding: 15px;
    position:relative;
}

#right {
    width:80%;
    float:left;
    position: relative;
    padding:3px;
}

/*
#menu {
    text-align:center;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float:left;
    padding: 20px;
}
*/
#center {
    clear:both;
}

#container {
    background-color: #fff;
    margin:auto;
    height: auto;
}

#footer {
    text-align: center;
}


#appicons {
    text-align: center;
    width: 900px;
    margin: auto;
    height: 800px;
}

.icon {
    float: left;
    width: 300px;
    height: 200px;
}

.icontext {
    padding: 10px;
    text-align: center;
}

#frontpageheader {
    font-size: 40px;
    padding-top:50px;
    padding-bottom: 50px;
}

#bottombanner {
    width: 500px;
    height: 256px;
    font-size: 40px;
    margin: auto;    
}

#bottombanner span {
    padding-top: 125px;
    float:right;
}

#frontpageheader, h1 {
    color: #003468;
    font-weight: bold;
}

.appPreview {
    text-align: center;
    width: 350px;
    margin: auto;
}

.appPreview h1 {
    font-size: 20px;
}

.previewItems {
    float: left;
    width: 33%;
    height: 100px;
    font-size: 12px;
}

.previewItems img {
    width: 60px;
}

.previewText {
    text-align: center;
    padding: 5px;
}

#topleftthingy {
    position: absolute; right: 20px; bottom: 20px; 
    color: #003468; 
    font-size: 20px; 
    text-align: center;
}

inputTextArea{
   font-family: inherit;
   font-size: 95%;
}

.ui-fieldset-content {
    font-size: 18px;
}

input[type="submit"] {
    width: 300px;
    height: 50px;
    font-size: 15px;
}