.ui-widget, .ui-widget .ui-widget {
    font-size: 85% !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #003468;
    font-family: arial;
}

.column {   
    padding: 15px;
    width: 800px;
}

.column_left {
    float: left;
    min-width: 200px;
}

.column_right {
    max-width: 500px; 
    float:left;
}

#container, #header, #menu, #center, #footer {
    width: 350px;
}

#header {
    text-align:center;
    height: 50px;
    background-size: 50%;
}

#header h1 {
    text-indent: -9999px;
}

#left {
    float: left;
    padding: 15px;
    position:relative;
}

#right {
    width:80%;
    float:left;
    position: relative;
    padding:3px;
}

/*
#menu {
    text-align:center;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float:left;
    padding: 20px;
}
*/
#center {
    clear:both;
}

#menu {
    display: none;
}

#container {
    background-color: #fff;
    margin:auto;
    height: auto;
}

#footer {
    text-align: center;
}


#appicons {
    text-align: center;
    width: 350px;
    margin: auto;
    height: 300px;
}

.icon {
    float: left;
    width: 33%;
    height: 100px;
    font-size: 10px;
}

.icon img {
    width: 50px;
}

.icontext {
    padding: 10px;
    text-align: center;
}

#frontpageheader {
    font-size: 15px;
    padding: 10px;
}

#bottombanner {
    width: 175px;
    height: 128px;
    margin: auto;   
    font-size: 15px;
}

#bottombanner img {
    width: 75px;
}

#bottombanner span {
    padding-top: 30px;
}

#frontpageheader, h1 {
    color: #003468;
    font-weight: bold;
}

.ui-dialog {
    width: 300px;
}

.ui-widget-header {
    font-size: 10px;
}

.ui-dialog-content {
    font-size: 10px;
}

.ui-dialog img {
    width: 100px;
}

#article {
    /*background-color: #f9f9f9;*/ 
    padding: 10px;
}

#articleheading {
    text-align: center;
}

#articlebody img {
    max-width: 400px;
}