body {
    margin: 0;
    padding: 0;
    background-color: #b0c4de;
    font-family: arial;
}

.column {   
    padding: 15px;
    width: 800px;
}

.column_left {
    float: left;
    width: 200px;
}

.column_right {
    width: 500px; 
    float:left;
}